.cache/
.gnupg/
.npm/
.pki/
.vscode-oss/
.viminfo
.gtkrc-2.0
.config/Code - OSS/
.config/mozilla/
.config/cachyos/
.config/dconf/
.config/pulse/
.config/kdeconnect/
.config/qgit/
.config/inkscape/
.config/geany/
.local/share/Trash/
.local/share/fish/
.local/share/parcellite/
.local/share/opencode/
.local/state/
.local/state/paru/
.dmrc
.Xauthority
.xsession-errors*
.local/share/gvfs-metadata/
.local/share/kwalletd/
.config/xfce4/xfconf/
*.db
.agents/
.local/share/opentui/tree-sitter/queries/bash-20eac162.scm
.local/share/opentui/tree-sitter/languages/tree-sitter-bash.wasm
.local/share/recently-used.xbel
