* {
  accent1:          #89b4fa;
  accent2:          #f5c2e7;
  button-gradient:  linear-gradient(90, #89b4fa, #f5c2e7);
  background-alpha: #1e1e2ef7;
  background:       #1e1e2e;
  background-light: #313244;
  background-focus: #45475a;
  foreground:       #cdd6f4;
  foreground-list:  #cdd6f4;
  on:               #a6e3a1;
  off:              #f38ba8;
  urgent:           #fab387;
}