ob_button_style.THEME_NAME.artistic      "Nordic"
ob_button_style.THEME_NAME.interactive   "Nordic"

ob_button_location.THEME_NAME.artistic   "right"
ob_button_location.THEME_NAME.interactive "right"

wallpaper.THEME_NAME.artistic            "THEME_NAME.artistic.jpg"
wallpaper.THEME_NAME.interactive         "THEME_NAME.interactive.jpg"
